.Tabs-container {
  position: absolute;
  top: 0.2em;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  flex-wrap: nowrap;
}

.Tab-container {
  flex: 1 1 auto;
  height: 5px;
  display: inline-block;
  margin: 0 2px;
}

.Tab-container:first-child,
.Tab-container:last-child {
  flex: 1 1 100px;
}

.Tab-container .Card-container {
  position: inherit;
  visibility: hidden;
  width: 100% ! important;
  height: auto ! important;
  top: 0 ! important;
  left: 0 ! important;
  z-index: 1000 ! important;
  .Card-img {
    border: none;
    max-width: 150px;
  }
}

.Tab {
  cursor: pointer;
  background: grey;
  opacity: 0.6;
  height: 100%;
}

.Tab-container:hover {
  .Tab {
    opacity: 1;
  }
  .Card-container {
    visibility: visible;
    z-index: 1000 ! important;
  }
}

.Tab-less {
  color: cyan;
  background: cyan;
}


.Tab-more {
  color: magenta;
  background: magenta;
}

.Tab-label {
  font-size: 14pt;
}

.active {
  background: yellow;
  opacity: 1;
}
