.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-image: url(https://studio-abraham.infura-ipfs.io/ipfs/QmS9pFauDLLJAhz92tcC9zZd69GjbGzsx3yEncCd7wM4BT?meta=QmNhPJQBxNMYfhbXb5qSpsjYvvhm2dwitrCTjivqFHGfB4zQkmCrrw?meta=Qma96CnitVV668cLBDx4pXBzTk6e6v1rGCpwc5rgiNMuvn);
}

.Card-container {
  z-index: 0;
  position: absolute;
}

.Card-container:hover {
  z-index: 999;
  opacity: 1;

  .Card-img {
    border: 2px solid magenta;
    opacity: 0.95!important;
    z-index: 999;
  }
}

.Card-img {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .Card-img {
    // animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  // min-height: 100vh;
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: row;
  // align-items: center;
  // justify-content: center;
  font-size: calc(10px + 2vmin);
  // color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes Card-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
