.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-image: url(https://studio-abraham.infura-ipfs.io/ipfs/QmS9pFauDLLJAhz92tcC9zZd69GjbGzsx3yEncCd7wM4BT?meta=QmNhPJQBxNMYfhbXb5qSpsjYvvhm2dwitrCTjivqFHGfB4zQkmCrrw?meta=Qma96CnitVV668cLBDx4pXBzTk6e6v1rGCpwc5rgiNMuvn);
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.Cards-container {}

.Control-container {
  position: fixed;
  top: calc(50vh - 100px);
  left: calc(50vw - 100px);
  animation: fade 3s 1;
  opacity: 0.05;
  z-index: 1000;

  svg {
    width: 200px;
    height: 200px;
    fill: magenta;
  }
}

@keyframes fade {
  0% {
      opacity: 0.6;
  }

  100% {
      opacity: 0.1;
  }
}

.Control-container:hover {
  opacity: 0.5;
}

.Control-label {
  color: magenta;
}
